.page {
  margin-left: min(200px, 10%);
  margin-top: 100px;

  .icon {
    font-size: 64px;
    filter: drop-shadow(2px 2px 8px var(--secondary-background));
  }

  .text {
    font-size: 48px;
    margin-top: 24px;
    text-shadow: 2px 2px 8px var(--secondary-background);
  }

  .path {
    font-size: 24px;
    margin-top: 24px;
    text-shadow: 2px 2px 8px var(--secondary-background);
  }
}

@media screen and (max-width: 768px) {
  .page {
    margin-left: 32px;
  }
}
