.layout {
  background: transparent;
}

@header-height: 48px;
@content-height: 32px;
@font-size: 18px;

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: @header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;
  overflow: auto hidden;

  .leftPart {
    width: 60%;
    max-width: 700px;

    .logo {
      width: @header-height;
      height: @header-height;
      background-image: url('/logo.png');
      background-size: cover;
      cursor: pointer;
    }

    .menu {
      line-height: @content-height;
      font-size: @font-size;
      background-color: transparent;
      border: none;
      padding: 8px;
      width: 100%;

      :global {
        .ant-menu-item {
          border-radius: @content-height;

          &:not(.ant-menu-item-selected)::after {
            width: 0;
          }
        }

        .ant-menu-item-active {
          background: var(--layout-background) !important;
        }

        .ant-menu-item-selected::after {
          border-radius: 16px;
          margin: auto;
          width: 2em;
          transition: width 200ms ease-out;
        }
      }
    }
  }

  .search {
    min-width: 20em;

    :global {
      .ant-input,
      .ant-btn,
      .ant-btn:hover {
        background: var(--layout-background);
      }
    }
  }

  .btn {
    width: @content-height;
    height: @content-height;
    font-size: @font-size;
    border-radius: @font-size;

    &:hover {
      background: var(--layout-background) !important;
    }
  }

  .user {
    height: @content-height;
    border-radius: 16px;

    .username {
      line-height: @content-height;
      padding-right: 4px;
      max-width: 10em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      background-color: var(--layout-background);
    }
  }
}

.headerMobile {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: @header-height;
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 4px 16px;

  .left {
    float: left;
    width: @content-height;
    height: @content-height;
    font-size: @font-size;
    border-radius: @font-size;
  }

  .center {
    width: 100%;
    justify-content: center;
    display: flex;

    .search {
      width: 100%;
      max-width: 30em;

      :global {
        .ant-input,
        .ant-btn,
        .ant-btn:hover {
          background: var(--layout-background);
        }
      }
    }
  }

  .right {
    float: right;
    width: @content-height;
    height: @content-height;
    font-size: @font-size;
    border-radius: @font-size;
  }
}

.drawerHeader {
  margin-left: 16px;
  align-items: center;

  .username {
    max-width: 15em;
    overflow: unset;
    text-overflow: ellipsis;
    white-space: unset;
  }
}

.verticalMenu {
  background: transparent;
  border-inline-end: none !important;
  font-size: @font-size;

  & :global {
    .ant-menu-item {
      height: @header-height;
      line-height: @header-height;
    }
  }

  .logoWithText {
    display: flex;

    div {
      height: @header-height;
      line-height: @header-height;
      font-size: @font-size;
      margin-left: 16px;
    }

    img {
      width: @header-height;
      height: @header-height;
    }
  }
}

.optionDivider::after {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  width: 100%;
  height: 1px;
  background-color: var(--separator);
}

.msgNum {
  color: var(--disabled-text);
  margin-left: 0.5em;
}

.content {
  position: relative;

  & > * {
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
      background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.websiteBox {
  display: flex;
  gap: 8px;
  align-items: center;

  .svg {
    font-size: 1.5em;
  }

  div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  img {
    height: 1.5em;
  }
}
