:root {
  --main-color: black;
  --main-bgcolor: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: white;
    --main-bgcolor: black;
  }
}

body {
  color: var(--main-color);
  background-color: var(--main-bgcolor);
}
